<?xml version="1.0"?>
<model>
  <name>george</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Chris GKournelos</name>
    <email>gkournelos@lms.mech.upatras.gr</email>
  </author>

  <description>
    A  person. Model created with Makehuman (http://www.makehuman.org/)
  </description>
</model>
